@charset "ISO-8859-1";
body {
	background-color: #f5f5f5;	/* Whitesmoke */
}

#collage {
	height: 35vh;				/* 35-50 */
	width: 60vw;				/* 40-60 */
	position: relative;
	border: 1px solid black;	/* optional border */
	margin: auto;				/* centered */
	overflow: hidden;			/* keep images from leaving borders */
}

.image {
	max-width: 75%;
	max-height: 75%;
	position: absolute;
	top: 5vh;
}



.star-ratings {
	unicode-bidi: bidi-override;
	color: #c5c5c5;
	font-size: 25px;
	float: right;
	margin: 0 auto;
	position: relative;
	padding: 0;
	text-shadow: 0px 1px 0 #a2a2a2;
}
.star-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
.star-bottom {
    padding: 0;
    display: block;
    z-index: 0;
}


#dropdownButtons {
	position: absolute;
	top: 2vh;
	right: 2vw;
	display: inline-table;
	width: 13vw;
	height: 8vw;
	border-collapse: separate;
}
#dropdownButtons tr {
	border: 1px solid black;
	width: 100%;
	margin-bottom: 2vh;
}
#dropdownButtons select {
	width: 100%;
	height: 2em;
	line-height: 2em;
}
#dropdownButtons button {
	width: 100%;
}


h1 {
	width: 100%;
	text-align: center;
}
h2 {
	width: 100%;
	text-align: center;
}


#restaurantTable {
	float: left;
	width: 49.7%;
	display: inline-table;
	border-collapse: collapse;
}
.restaurantCell {
	width: 100%;
	height: 12vh;
	border: 1px solid black;
	cursor: pointer;
}
.restaurantCellTable {
	width: 100%;
	height: 100%;
}
.restaurantCellTable td {
	padding-left: 2vw;
	padding-right: 2vw;
}
.restaurantName {
	width: 45%;
	font-weight: bold;
}


#recipeTable {
	float: right;
	width: 49.7%;
	display: inline-table;
	border-collapse: collapse;
}
.recipeCell {
	width: 100%;
	height: 12vh;
	border: 1px solid black;
	cursor: pointer;
}
.recipeCellTable {
	width: 100%;
	height: 100%;
}
.recipeCellTable td {
	padding-left: 2vw;
	padding-right: 2vw;
}
.recipeName {
	width: 45%;
	font-weight: bold;
}